## Deliverable 2. Create a Travel Search

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import sys

# Import API key
sys.path.insert(0, '../' )

from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Bandarbeyla,SO,9.4942,50.8122,81.46,65,71,29.21,broken clouds
1,1,Komsomolskiy,UZ,40.4272,71.7189,88.52,20,0,4.61,clear sky
2,2,Manaus,BR,-3.1019,-60.0250,81.09,89,100,5.75,overcast clouds
3,3,Quthing,LS,-30.4000,27.7003,61.86,12,0,4.03,clear sky
4,4,Aguimes,ES,27.9054,-15.4461,74.66,88,40,10.36,scattered clouds

In [3]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 72
What is the maximum temperature you would like for your trip? 75

In [4]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
4,4,Aguimes,ES,27.9054,-15.4461,74.66,88,40,10.36,scattered clouds
20,20,Rikitea,PF,-23.1203,-134.9692,72.52,82,2,5.08,clear sky
23,23,Bamberg,DE,49.8795,10.8863,73.83,66,100,7.52,overcast clouds
27,27,Cape Town,ZA,-33.9258,18.4232,74.08,28,0,7.00,clear sky
30,30,Karratha,AU,-20.7377,116.8463,73.74,57,1,8.12,clear sky
33,33,Namibe,AO,-15.1961,12.1522,74.48,68,8,14.38,clear sky
73,73,Mount Isa,AU,-20.7333,139.5000,74.97,50,59,5.75,light rain
138,138,Seoul,KR,37.5683,126.9778,72.84,85,0,2.30,clear sky
157,157,Winchester,GB,51.0651,-1.3187,74.68,54,40,18.41,scattered clouds
234,234,Carballo,ES,43.2130,-8.6910,74.62,75,78,5.28,broken clouds

In [5]:
preferred_cities_df.dropna()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
4,4,Aguimes,ES,27.9054,-15.4461,74.66,88,40,10.36,scattered clouds
20,20,Rikitea,PF,-23.1203,-134.9692,72.52,82,2,5.08,clear sky
23,23,Bamberg,DE,49.8795,10.8863,73.83,66,100,7.52,overcast clouds
27,27,Cape Town,ZA,-33.9258,18.4232,74.08,28,0,7.00,clear sky
30,30,Karratha,AU,-20.7377,116.8463,73.74,57,1,8.12,clear sky
33,33,Namibe,AO,-15.1961,12.1522,74.48,68,8,14.38,clear sky
73,73,Mount Isa,AU,-20.7333,139.5000,74.97,50,59,5.75,light rain
138,138,Seoul,KR,37.5683,126.9778,72.84,85,0,2.30,clear sky
157,157,Winchester,GB,51.0651,-1.3187,74.68,54,40,18.41,scattered clouds
234,234,Carballo,ES,43.2130,-8.6910,74.62,75,78,5.28,broken clouds
256,256,Atambua,ID,-9.1061,124.8925,73.80,87,55,2.26,broken clouds
271,271,Poum,NC,-20.2333,164.0167,73.29,75,76,17.83,broken clouds
294,294,Port Hawkesbury,CA,45.6169,-61.3485,73.89,87,75,10.36,broken clouds
299,299,Ritchie,ZA,-29.0380,24.6028,74.19,28,0,10.58,clear sky
301,301,Ahuimanu,US,21.4447,-157.8378,74.91,82,0,5.75,clear sky
339,339,Lengshuijiang,CN,27.6881,111.4294,73.18,66,96,5.73,overcast clouds
345,345,Stephenville,US,32.2207,-98.2023,74.25,94,100,3.44,overcast clouds
365,365,Fairview,US,40.8126,-73.9990,74.23,81,0,12.66,clear sky
375,375,Pochutla,MX,15.7432,-96.4661,74.82,90,100,2.06,overcast clouds
378,378,La Mata,PA,8.0833,-80.8833,74.98,92,100,2.08,overcast clouds
390,390,Makakilo City,US,21.3469,-158.0858,73.72,78,0,5.75,clear sky
413,413,Mayo,US,38.8876,-76.5119,74.98,85,0,6.91,clear sky
426,426,Puerto Madero,MX,14.7208,-92.4215,73.60,100,40,0.00,scattered clouds
440,440,Saiha,IN,22.4833,92.9667,73.98,96,100,0.69,light rain
456,456,Warwick,US,41.7001,-71.4162,74.01,89,75,5.75,broken clouds
464,464,Marga,RO,45.5000,22.5167,73.36,75,65,1.81,broken clouds
474,474,Altay,CN,47.8667,88.1167,73.65,22,0,7.72,clear sky
483,483,La Rioja,ES,42.2500,-2.5000,74.98,42,69,8.23,broken clouds
484,484,Somerset,US,40.5668,-74.5496,73.11,95,0,1.01,clear sky
501,501,Essex,US,40.7834,-74.2163,73.45,90,20,6.91,few clouds
506,506,Greenville,US,35.6127,-77.3663,74.12,95,0,3.44,clear sky
507,507,Nantucket,US,41.2835,-70.0995,73.99,95,100,18.41,heavy intensity rain
514,514,Olinda,BR,-8.0089,-34.8553,74.93,83,75,9.22,broken clouds
534,534,Alyangula,AU,-13.8483,136.4192,73.44,93,5,7.58,clear sky
537,537,Karagaylinskiy,RU,54.1720,86.5521,73.35,55,50,6.40,scattered clouds
558,558,Westport,US,41.1415,-73.3579,74.07,85,0,5.75,clear sky
574,574,Dalen,NL,52.6992,6.7556,73.89,49,31,11.01,scattered clouds
577,577,Yining,CN,29.0361,114.5636,74.12,79,96,3.24,overcast clouds
579,579,Camacari,BR,-12.6975,-38.3242,74.97,68,96,10.83,overcast clouds
582,582,Margate,GB,51.3813,1.3862,72.90,63,2,8.99,clear sky
607,607,Katobu,ID,-4.9408,122.5276,74.37,91,38,3.85,scattered clouds
637,637,Camalu,MX,30.8500,-116.0667,72.36,81,5,6.67,clear sky
654,654,Atherton,GB,53.5237,-2.4935,74.21,59,64,1.99,broken clouds

In [6]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng","Current Description"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Current Description,Hotel Name
4,Aguimes,ES,74.66,27.9054,-15.4461,scattered clouds,
20,Rikitea,PF,72.52,-23.1203,-134.9692,clear sky,
23,Bamberg,DE,73.83,49.8795,10.8863,overcast clouds,
27,Cape Town,ZA,74.08,-33.9258,18.4232,clear sky,
30,Karratha,AU,73.74,-20.7377,116.8463,clear sky,
33,Namibe,AO,74.48,-15.1961,12.1522,clear sky,
73,Mount Isa,AU,74.97,-20.7333,139.5000,light rain,
138,Seoul,KR,72.84,37.5683,126.9778,clear sky,
157,Winchester,GB,74.68,51.0651,-1.3187,scattered clouds,
234,Carballo,ES,74.62,43.2130,-8.6910,broken clouds,

In [7]:
# Set the parameters to search for a hotel.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key}

In [8]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Current Description,Hotel Name
4,Aguimes,ES,74.66,27.9054,-15.4461,scattered clouds,Hotel Villa de Aguimes
20,Rikitea,PF,72.52,-23.1203,-134.9692,clear sky,People ThankYou
23,Bamberg,DE,73.83,49.8795,10.8863,overcast clouds,ibis Bamberg Altstadt
27,Cape Town,ZA,74.08,-33.9258,18.4232,clear sky,"Radisson Blu Hotel Waterfront, Cape Town"
30,Karratha,AU,73.74,-20.7377,116.8463,clear sky,ibis Styles Karratha

In [10]:
# Create the output file (CSV).
output_data_file = "WeatherPy_vacation.csv"
# Export the Hotel_Data into a CSV.
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Current Condition</dt><dd>{Current Description}</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [12]:
# 4a. Add a marker layer for each city to the map.
# 4a. Add a marker layer for each city to the map.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
travel_map = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
#fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))